<div class = "dashboard">
    <h1>Hello, <%= current_user.username%>!</h1>
    <%= link_to 'New Event', new_event_path, class:"new-event-link"%>
    <div class= "user-container">
        <div class= "created-events grid-item">
        <h2>Created Events</h2>
            <table>
            <tr>
                <th>Event Name</th>
                <th>Date</th>
                <th>Details</th>
            </tr>
            <% current_user.created_events.each do |event|%>
            <tr class = "info-row">
                <td><%=event.event_name%></td>
                <td><%=event.event_date.to_formatted_s(:short)%></td>
                <td>
                    <%=link_to event_path(event) do%>
                        <img src="https://img.icons8.com/android/24/000000/more.png"/>
                    <%end%>
                </td>
            </tr> 
            <%end%>
            </table>
        </div>
        <div class= "invitations grid-item">
        <h2>Invitations</h2>
            <table>
            <tr>
                <th>Event Name</th>
                <th>Date</th>
                <th>Details</th>
            </tr>
            <% current_user.received_invitations.each do |invitation|%>
                <tr class = "info-row">
                    <td><%=invitation.event.event_name%></td>
                    <td><%=invitation.event.event_date.to_formatted_s(:short)%></td>
                    <td> <%= button_to "Accept", { controller: 'invitations', action: "accept", id: invitation.id} %>
                    <td> <%= button_to "Decline", { controller: 'invitations', action: "decline", id: invitation.id} %>
                    </td>
                </tr> 
            <%end%>
            </table>
        </div>
        <div class= "attended-events grid-item">
        <h2>Passed Events</h2>
            <table>
                <tr>
                    <th>Event Name</th>
                    <th>Date</th>
                    <th>Details</th>
                </tr>
                <% current_user.attended_events.passed_events(Time.zone.now).each do |event|%>
                <tr class = "info-row">
                    <td><%=event.event_name%></td>
                    <td><%=event.event_date.to_formatted_s(:short)%></td>
                    <td>
                        <%=link_to event_path(event) do%>
                            <img src="https://img.icons8.com/android/24/000000/more.png"/>
                        <%end%>
                    </td>
                </tr> 
                <%end%>
            </table>
        </div>
        <div class= "attended-events grid-item">
        <h2>Upcoming Events</h2>
            <table>
                <tr>
                    <th>Event Name</th>
                    <th>Date</th>
                    <th>Details</th>
                </tr>
                <% current_user.attended_events.upcoming_events(Time.zone.now).each do |event|%>
                <tr class = "info-row">
                    <td><%=event.event_name%></td>
                    <td><%=event.event_date.to_formatted_s(:short)%></td>
                    <td>
                        <%=link_to event_path(event) do%>
                            <img src="https://img.icons8.com/android/24/000000/more.png"/>
                        <%end%>
                    </td>
                </tr> 
                <%end%>
            </table>
        </div>
    </div>
<div class = "dashboard">