<h1> New Invitation </h1>

<%= form_for @invitation do |f|%>
    <%= f.hidden_field :event_id, :value => @event.id %>
    <%= f.label 'Receiver ID', class: "form-label"%></br>
    <%= f.number_field :receiver_id, class: "form-input"%></br>
    <%= f.submit 'Submit', class: "form-button"%>
<%end%>

<ul>
    <li> Username - User ID </li>    
    <% @users.each do |u|%>
        <li><%= u.username%> - <%= u.id%></li>
    <%end%>
</ul>


<%= link_to '<< Back', root_path %>